<div style="{#if !isPDF}background: #efefef; {/if}margin-left: -10px; margin-right: -10px;">
  <div style="{#if !isPDF}min-width: 700px; width: 66%; background: #FFF; {/if} margin: auto; margin-top: -20px; margin-bottom: -20px;">
    <div style="padding: 20px">
      <h1 style="text-align: center">Eclipse Foundation AISBL Membership Application</h1>
      <p style="font-size: 18px; font-weight: 600;">New Contact Removal Request by: {name} ({current})</p>
      <div>
        <p style="margin: 0px">Organization: {data.getOrganizationID}</p>
        <p style="margin: 0px">Username: {data.getUserName}</p>
        <p style="margin: 0px;margin-top:30px;">Reason: {data.getReason}</p>
      </div>
      <hr style="margin:40px 20px "></hr>
      <p style="text-align: center">This is an automatic message from <a href="https://membership.eclipse.org">https://membership.eclipse.org</a></p>
      <p style="text-align: center">Twitter: <a href="https://twitter.com/EclipseFdn">@EclipseFdn</a></p>
    </div>
  </div>
</div>
