<div style="{#if !context.isPDF}background: #efefef; {/if}margin-left: -10px; margin-right: -10px;">
  <div style="{#if !context.isPDF}min-width: 700px; width: 66%; background: #FFF; {/if} margin: auto; margin-top: -20px; margin-bottom: -20px;">
    <div style="padding: 20px">
      {#include emails/membership_web_header /}
      <p>Form submission by: {data.name} ({data.form.userID})</p>
      <h2>Organization</h2>
      <p style="margin: 0px">Name: {data.org.legalName}</p>
      <p style="margin: 0px;">Aggregate Revenue: {data.org.aggregateRevenue}</p>
      <p style="margin: 0px;">Employee Count: {data.org.employeeCount}</p>
      <p style="margin: 0px;">Organization Type: {data.org.organizationType}</p>
      <p style="margin: 0px;">Twitter: {data.org.twitterHandle}</p>
      <p style="margin: 0px;">Requires Purchase Order: {data.form.purchaseOrderRequired}</p>
      <p style="margin: 0px;">VAT Number: {data.form.vatNumber}</p>
      <p style="margin: 0px">VAT Registration Country: {data.form.registrationCountry}</p>
      <p style="margin: 0px">Membership Level: {data.form.membershipLevel}</p>
      <div>
        <h3>Address</h3>
        <p>
          {data.org.address.addressLine1}<br />{data.org.address.addressLine2}<br />{data.org.address.locality}<br /> {data.org.address.administrativeArea}<br /> {data.org.address.country}<br /> {data.org.address.postalCode}
        </p>
      </div>

      <h2>Contacts</h2>
      <table style="width: 100%">
        <thead style="background: #dfdfdf">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Title</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {#for contact in data.contacts.orEmpty}
          <tr {#if contact_even} style="background: #efefef"{/if}>
            <td>{contact.fName} {contact.lName}</td>
            <td>{contact.email}</td>
            <td>{contact.title}</td>
            <td>{contact.type}</td>
          </tr>
          {/for}
        </tbody>
      </table>


      <h2>Working Groups</h2>
      <table style="width: 100%">
        <thead style="background: #dfdfdf">
          <tr>
            <th>Working Group</th>
            <th>Participation Level</th>
            <th>Effective Date</th>
            <th>Contact Name</th>
          </tr>
        </thead>
        <tbody>
          {#for wg in data.wgs.orEmpty}
          <tr {#if wg_even} style="background: #efefef"{/if}>
            <td>{wg.workingGroupID}</td>
            <td>{wg.participationLevel}</td>
            <td>{#if wg.effectiveDate != null}{time:format(wg.effectiveDate,'d MMM uuuu')}{/if}</td>
            <td>{#if wg.contact != null}{wg.contact.fName} {wg.contact.lName}{/if}</td>
          </tr>
          {/for}
        </tbody>
      </table>
      {#include emails/membership_web_footer /}
    </div>
  </div>
</div>
